<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656976778975-c3bbr3bqiu6783qj04906q9v4ds2la9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656976778975-c3bbr3bqiu6783qj04906q9v4ds2la9u</string>
	<key>API_KEY</key>
	<string>AIzaSyDTyIs5A5RzA5kSfgp2VBLgVLBgOHgQfLM</string>
	<key>GCM_SENDER_ID</key>
	<string>656976778975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petras1</string>
	<key>PROJECT_ID</key>
	<string>petras-cfce2</string>
	<key>STORAGE_BUCKET</key>
	<string>petras-cfce2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656976778975:ios:a6946cfe8272b3f69f3b6a</string>
</dict>
</plist>